[submodule "ios/external"]
	path = ios/external
	url = https://github.com/spotify/ios-sdk.git
	ignore = dirty
[submodule "android/external"]
	path = android/external/SpotifySDK
	url = https://github.com/spotify/android-sdk.git
	ignore = dirty
